.icon
{
  width: 80px;
  height: 80px;
}
.fa-phone
{
  background-color: #E9D023;
  color: #474746;
}
.fa-whatsapp
{
  background-color: #32B768;
  color: white
}
button 
{
  background-color: #bebebe !important;
  transition: all 2s;
}
button:hover
{
  background-color: #E9D023 !important;
}